Treating the missing values

In [ ]:
print(records.isnull().sum()) #finding the values missing

                          0
address                   0
name                      0
phone                   884
location                  0
rest_type                 0
cuisines                 18
menu_item                 0
listed_in_type            0
listed_in_city            0
online_order              0
book_table                0
ave_cost_for_two        240
dish_liked            22779
votes                     0
ave_review_ranking     6379
rate                   8336
dtype: int64

Missing Values:
Removing data points which are null, in the "rate" column from the dataset, because the column "rate" is our label.

In [ ]:
#removing all the rows from the dataset which have no values in the"rate" column as it is our label....
records = records.dropna(subset=['rate'])

In [ ]:
print(records.isnull().sum())

                          0
address                   0
name                      0
phone                   634
location                  0
rest_type                 0
cuisines                  8
menu_item                 0
listed_in_type            0
listed_in_city            0
online_order              0
book_table                0
ave_cost_for_two        178
dish_liked            14551
votes                     0
ave_review_ranking      914
rate                      0
dtype: int64

In [ ]:
# there are four columns with missing values phone, ave_cost_for_two, dish_liked and ave_review_ranking

#for ave_cost_for_two we re taking the median and filling the missing data points
records['ave_cost_for_two'].fillna(records['ave_cost_for_two'].median(), inplace=True)

<ipython-input-11-fd548ad1245c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['ave_cost_for_two'].fillna(records['ave_cost_for_two'].median(), inplace=True)

In [ ]:
print(records.isnull().sum())

                          0
address                   0
name                      0
phone                   634
location                  0
rest_type                 0
cuisines                  8
menu_item                 0
listed_in_type            0
listed_in_city            0
online_order              0
book_table                0
ave_cost_for_two          0
dish_liked            14551
votes                     0
ave_review_ranking      914
rate                      0
dtype: int64

In [ ]:
# for phone column we are entering the text for now in missing places
records['phone'].fillna('Ph Missing', inplace=True)

<ipython-input-13-fac59f832082>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['phone'].fillna('Ph Missing', inplace=True)

In [ ]:
print(records.isnull().sum())

                          0
address                   0
name                      0
phone                     0
location                  0
rest_type                 0
cuisines                  8
menu_item                 0
listed_in_type            0
listed_in_city            0
online_order              0
book_table                0
ave_cost_for_two          0
dish_liked            14551
votes                     0
ave_review_ranking      914
rate                      0
dtype: int64

In [ ]:
#for  filling dish liked column we are replacing missing with no dish
records['dish_liked'].fillna('No Dish', inplace=True)

<ipython-input-15-d8e7a230f4c4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['dish_liked'].fillna('No Dish', inplace=True)

In [ ]:
#for finding median of the column of ave_review_ranking .............(1)
median_ranking = records['ave_review_ranking'].median()
#for replacing the missing values with ...(1)
records['ave_review_ranking'].fillna(median_ranking, inplace=True)

<ipython-input-16-220a71f640f2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  records['ave_review_ranking'].fillna(median_ranking, inplace=True)

In [ ]:
print(records.isnull().sum())

                      0
address               0
name                  0
phone                 0
location              0
rest_type             0
cuisines              8
menu_item             0
listed_in_type        0
listed_in_city        0
online_order          0
book_table            0
ave_cost_for_two      0
dish_liked            0
votes                 0
ave_review_ranking    0
rate                  0
dtype: int64